body {
  line-height: 1.6;
}
a:hover {
  opacity: 0.5 ;
  transition: 0.3s;
}
a {
  text-decoration: none;
  color: inherit;
}
/*------------header--------------*/
.header {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  align-items: center;
  z-index: 1;
  background: white;
}
.header__title {
  font-size: 24px;
}
.header__nav__list {
  display: flex;
}
.header__nav__item {
  margin-right: 30px;
  font-weight: bold;
}
.header__nav__item:last-child {
  margin-right: 0;
}
.nav {
  display: none;
}
.nav__menu {
  display: none;
}
/* レスポンシブ(768px以下)*/
@media screen and (max-width: 768px) {
  .header__nav__list {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .nav {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    transition: .7s;
    background: white;
  }
  .nav__list {
    padding-top: 80px;
    text-align: center;
    color: blue;
    font-size: 18px;
  }
  .nav__item {
    list-style-type: none;
    margin-top: 50px;
  }
  .nav__menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
  }
  .nav__menu--top,
  .nav__menu--middle,
  .nav__menu--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  }
  .nav__menu--top {
    top: 0;
  }
  .nav__menu--middle {
    top: 14px;
  }
  .nav__menu--bottom {
    bottom: 0;
  }
  .nav__menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }
  .nav__menu.open span:nth-of-type(2) {
    opacity: 0;
  }
  .nav__menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }
  .in {
    transform: translateX(100%);
  }
}
/*------------page-mv--------------*/
.page-mv {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: url(../img/mv.png) center/cover;
}
.title {
  font-size: 30px;
  font-weight: bold;
}

/*------------main--------------*/
.contact {
  padding: 80px 0;
  width: 75%;
  margin: 0 auto;
}
.contact__form__item__name {
  font-weight: bold;
}
.contact__form__item:not(:first-child) {
  margin-top: 20px;
}
.contact__form__item__input {
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid rgb(194, 194, 194);
  box-sizing: border-box;
}
.contact__form__item__required {
  color: rgb(180, 0, 0);
  margin-left: 5px;
}
.contact__form__item__textarea {
  margin-top: 5px;
  width: 100%;
  font-size: 16px;
  padding: 5px;
  border: 1px solid rgb(194, 194, 194);
  box-sizing: border-box;
}
.contact__form__submit {
  width: 300px;
  margin: 20px auto 0;
  padding: 10px;
  border: none;
  background: black;
  color: white;
  display: block;
  font-weight: bold;
  cursor: pointer;
}

/* レスポンシブ(768px以下)*/
@media screen and (max-width: 768px) {
  .contact {
  width: 90%;
  }
}

/*------------footer--------------*/
.footer {
  background:rgb(32, 32, 32);
  color: white;
  padding: 20px 0;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  width: 85%;
  margin: 0 auto;
}
.footer__nav__list {
  display: flex;
  flex-wrap: wrap;
}
.footer__nav__item:after {
  content: "|";
  padding: 0 10px;
}
.footer__nav__item:last-child:after {
  display: none;
}

/* レスポンシブ(768px以下)*/
@media screen and (max-width: 768px) {
  .footer__copyright {
    margin: 0 auto;
    text-align: center;
  }
  .footer__nav__item {
    text-align: center;
    margin-top: 10px;
    width: 100%;
  }
  .footer__nav__item:after {
    display: none;
  }
}